.bgColor {
    background-color: var(--color-bg);
}

body {
    padding: 32px;
    color: var(--color-white);
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.reset {
    background-color: var(--color-secondary);
    color: var(--color-white);
}

.play {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.marker {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-top: 40px;
    margin-bottom: 76px;
}

.marker-input {
    padding: 20px 32px;
    width: 105px;
    text-align: right;
    background-color: var(--color-white);
}

.element-selected {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 16px;
    border-radius: 8px;
    margin: 16px 0 48px;
    font-weight: bold;
}

.color-contrast-radioContainer {
    display: flex;
    column-gap: 20px;
    margin-bottom: 56px;
}

.color-contrast-radio-element {
    display: flex;
    column-gap: 16px;
}

.color-contrast-radio-element > label {
    cursor: pointer;
}

.color-contrast-radio-element > input::after {
    content: '';
    background: var(--color-secondary);
    border-radius: 100%;
    display: inline-block;
    width: 26px;
    height: 26px;
    position: relative;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
    box-sizing: border-box;
    margin: -6px 0 0 -6px;
}

.color-contrast-radio-element > input:checked::after {
    border: 2px solid var(--color-primary);
    content: '';
    background: var(--color-secondary);
    border-radius: 100%;
    display: inline-block;
    width: 26px;
    height: 26px;
    position: relative;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
    box-sizing: border-box;
    margin: -6px 0 0 -6px;
}

.contrast-color-display-container {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

#contrast-color-display {
    width: 40px;
    height: 26px;
}

#contrast-color-display-label {
    color: var(--color-white);
    font-weight: bolder;
}

/* .element-selected::-webkit-details-marker {
    display: none
} */

/* .element-selected::after {
    content: ' ►';
}

.element-selected[open] summary:after {
    content: " ▼";
} */

.hovered-info-row {
    display: flex;
    justify-content: space-between;
}

#hovered-bgColor {
    width: 40px;
    height: 26px;
}

#hovered-marker-section {
    margin-top: 45px;
}

#hovered-info-container {
    display: grid;
    row-gap: 16px;
    margin-top: 52px;
}
